/* fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,400);

/*NAV-BAR*/
nav {
	border: none;
    height: 40px;
    opacity: .95;
    background: black;
    position: fixed;
}

nav p {
	font-family: 'Open Sans';
	display: inline-block;
	float: right;
	margin: 6px 14px 0 0;
	color: white;
	font-size: 20px;
	font-weight: 300;
}

.container.full {
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.content {
	max-width: 800px;
	margin: 0 auto;
	padding: 10px 40px;
}

.rightSide {
	padding-right: 30px;
}

.logo {
	width: 28px;
	margin-top: 6px;
	margin-left: 10px;
}

.back {
	color: white;
	padding: 0px 0px 5px 4px;
}

/*BODY*/

body {
	border: none;
	padding-top: 35px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.pattern {
	background: -webkit-linear-gradient(left top, #1f6953 , #5ebda7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #1f6953, #5ebda7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #1f6953, #5ebda7 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #1f6953 , #5ebda7); /* Standard syntax (must be last) */
}

.pattern2 {
	background: -webkit-linear-gradient(left top, #195042 , #519080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #195042, #519080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #195042, #519080 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #195042 , #519080); /* Standard syntax (must be last) */
	min-height: 100px;
	padding-bottom: 50px;
	flex: 1;
}

.title.top {
	margin-top: 50px;
	font-family: 'Open Sans';
	color: white;
	font-weight: 700;
	font-size: 70px;
}

/*FOOTER*/

footer {
	color: black;
	text-align: center;
	padding-top: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Open Sans';
	font-weight: 300;
	padding: 0px 0px 0px 0px;
	height: 50px;
	line-height: 50px;
}


/*MEDIA QUERIES*/

@media (max-width: 820px) {
	.title.top {
		font-size: 50px;
	}
}


@media (max-width: 575px) {
	.title.top {
		font-size: 35px;
	}
}

/**
 * Posts list
 */

#posts ul {
	margin: 0px;
}

#posts li {
	padding: 5px 10px;
	color: white;
}

#posts li a {
	font-size: 30px;
	color: white;
}


/**
 * Markdown style
 */
.markdown * {
	padding-left: 10px;
	color: rgba(250,250,250, 1) !important;
}
